<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,100;1,300&display=swap" rel="stylesheet">
         
        ​<script src="https://kit.fontawesome.com/fd022f4bc2.js" crossorigin="anonymous"></script>

        <title>Bienvenido a MercadoLiebre</title>
    
        <link href="css/styles.css" rel="stylesheet">
    </head>
<body>
        
        <header  class="main-header">
            <div class="main-header-top-bar">
                <img width="300" src="/images/logo-mercado-liebre.svg" alt="Logo de Mercadoliebre"> 
                <div class="form" action="#" method="GET">
                    <input type="text" value="busqueda" 
                    class="submit" class="fa fa-search" aria-hidden="true">
                <h2 class="copy-header">
                    
                    
                        
                        <div class="submit"><i class="fa fa-search"></i></div>
                    </div><nav>
                        <p><i  class="fas fa-hand-holding-usd" class="copy-header"></i>
                            Comprá en cuotas sin tarjeta de crédito</p>
                    </nav>
                    
                   
                </h2>
            </div>
                <h3></h3>
            
                <nav class="main-navbar">
            

                <ul> 
                    <li><a href="#">Ofertas </a> </li>
                    <li><a href="#">Tiendas oficiales</a> </li>
                    <li><a href="#">Vender</a> </li>
                    </ul>
                    <ul> <li><a href="#">Ayuda</a> </li>
                    <li><a href="/register">Crea tu cuenta</a> <i class="fas fa-id-card"></i> </li>
                    <li><a href="/login">Ingresá</a> <i class="far fa-id-card"></i> </li>
                    <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i> </li>
                 </ul> 
                    
                    
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
                
            </div>
          
        </header>

        <main class="registro">
            <form action="/" method="POST" class="create-form">
                <div class="negrita"> 
                    <label><a>Nombre:</a></label>
                    <input type="text" name="name" placeholder="Nombre y apellido" class="control">
                </div>
                <div class="negrita">
                    <label><a>Usuario:</a></label>
                    <input type="text" name="user" placeholder="Nombre de usuario" class="control">
                
                </div>
                <div class="negrita">
                    <label><a>Correo:</a></label>
                    <input type="email" name="email" placeholder="E-mail" class="control">
                </div>
                
                <div class="negrita">
                    <label><a>Domicilio:</a></label>
                    <input type="text" name="addres" placeholder="Domicilio" class="control">
                </div>

                <br>
                <label for="birth_date"><b>Fecha de nacimiento</b></label>
                <br>
                <input type="date" name="birth_date" id="birth_date">
                <br>
                
                
                <h4>Perfil del usuario</h4>
                <div class="profile">
                    <input type="radio" name="profile" value="buy" id="buy">
                    <label for="buy">Comprador</label>
                    <input type="radio" name="profile" value="sell" id="sell">
                    <label for="sell">Vendedor</label>
                </div>

                <h4>Intereses</h4>
                <div class="intereses-diseño">
                    <div class="interes-registro-div" >
                        <input type="checkbox" name="intereses" value="a" id="a">
                        <label for="a">Electro</label>
                    </div>
                    <div class="interes-registro-div">
                        <input type="checkbox" name="intereses" value="b" id="b">
                        <label for="b">Moda</label>
                    </div>
                    <div class="interes-registro-div">
                        <input type="checkbox" name="intereses" value="c" id="c">
                        <label for="c">Hogar</label>
                    </div>
                    <div class="interes-registro-div">
                        <input type="checkbox" name="intereses" value="d" id="d">
                        <label for="d">Juguetería</label>
                    </div>
                    <div class="interes-registro-div">
                        <input type="checkbox" name="intereses" value="e" id="e">
                        <label for="e">Vida sana</label>
                    </div>
                </div>
                
                <h4>Elegí tu foto de usuario</h4>
                <input type="file" name="avatar">
                <br>
                <br>
                <input type="password" name="pass" placeholder="Elegí tu contraseña">
                <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
                <br>
                <br>
                <input type="submit" value="Enviar" class="boton-formulario">
                <input type="reset" value="Borrar" class="boton-formulario">
                <br>
                <br>
            </form>
        </main>
         <footer>
                <section>
            <article>
                <div>  
                    <i class="fas fa-id-card"></i>
                </div>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                        <div>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin
                            interés con tarjeta o efectivo en puntos de
                            pago. ¡Y siempre es seguro!</p></div>
            </article>
            <article>
                <div><i class="fas fa-gift"></i></div>    
                <h2>Envío gratis desde $2500</h2>
                        <div>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                            productos. Es un beneficio de Mercado Puntos.</div>

                      <div><i class="fas fa-user-lock"></i></div>          
                            <h2>Seguridad, de principio a fin</h2>

                        
            </article>

                    <div>Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
                    </section>

    </footer>
    
</body>
</html>
