*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;

}

.main-header {
    background-color: #EAC926;
    padding: 20px;
}

main{
    width: 90%;
    margin: auto;
    box-sizing: border-box;
}
.main-navbar {
    display: none;
}
.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
footer{
    background-color: rgb(224, 224, 224);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.copy-header{
    font-weight: 400;
    text-align: center;
}
.precio {
    font-size: 18px;
    width: 30%;
}

.descuentos {
    font-size: 16 px;
    width: 70%;
}

.description{
    font-size: 16px;
}

h3{
    font-size: 24px;
}
.tamaño18 {
    font-size:18px ;
}
.tamaño16{
    font-size: 16px;
}

.bg-amarillo {
    background-color: #EAC926;
    padding: 20px;
}
.Amarillo {
    color: #EAC926;
}

.bg-azul{
    background-color: #03264C;
}
.azul {
    color:#03264C ;
}

.bg-celeste{
    background-color:#1259c3 ;
}
.celeste{
    color: #1259c3;
} 
.bg-grisoscuro{
    background-color: #666;
}
.grisoscuro{
    color: #666;
}
.bg-grisclaro{
    background-color: #ebebeb;
}
.grisclaro{
    color:#ebebeb;
}
.bg-verde{
    background-color: #39b54a;
}
.verde{
    color:#39b54a;
}
.burger-menu{
    text-align: center;
}
.burger{
    font-size: 2em;
    line-height: 2em;
    text-align: center;
    background-color: #1259c3;
    color: #ebebeb;
    border-radius: 7px;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

/*@media (min-width: 361px){
    .description {
        display: block;
    }
}

@media (min-width:769px){

}*/

@media (min-width: 768px) {
    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
    }
.copy-header {
    max-width: 350px;
    text-align: right;
}
.burger-menu {
    display: none;
}
.main-navbar {
    display: flex;
    justify-content: space-between;
}
.main-navbar ul {
    display: flex;
}
.main-navbar li {
    margin:0 5px
}
}

